.counter-box {
    position: relative;
    white-space: nowrap;
  }
  .counter-border {
    display: inline-block;
    vertical-align: middle;
    width: 155px;
    height: 155px;
    border: 6px solid #ccde02;
  }
  .counter-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    left: -105px;
    top: 0;
  }
  .counter-content .counter-number {
    display: inline-block;
    vertical-align: middle;
    font-size: 100px;
    line-height: 30px;
    font-weight: 600;
    color: #000;
    letter-spacing: 1px;
  }
  .counter-info {
    display: inline-block;
    vertical-align: middle;
    margin: 0 0 0 10px;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    font-weight: 500;
    letter-spacing: 1px;
  }
  @media screen and (max-width: 1199px) {
    .counter-content {
      left: -100px;
    }
    .counter-content .counter-number {
      font-size: 90px;
    }
  }
  @media screen and (max-width: 991px) {
    .counter-border {
      width: 135px;
      height: 135px;
    }
    .counter-content {
      left: -90px;
    }
    .counter-content .counter-number {
      font-size: 80px;
    }
  }
  @media screen and (max-width: 575px) {
    .counter-content .counter-number {
      font-size: 70px;
    }
    .counter-border {
      width: 115px;
      height: 115px;
    }
    .counter-content {
      left: -80px;
    }
  }