.team-wrapper {
  position: relative;
}
.team-wrapper .team-overlay {
  background-color: rgba(204, 222, 2, 0.88);
}
.team-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.team-info.team-overlay {
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  visibility: hidden;
  transition: opacity 0.3s, visibility 0.3s;
  border-radius: 0.25rem;
}
.team-info.team-overlay .team-title {
  transition-delay: 0.2s;
  transform: translateY(25px);
  letter-spacing: 1px;
  opacity: 0;
  color: #282b2d;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: 700;
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.team-info.team-overlay .team-position {
  font-size: 13px;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-weight: 500;
  letter-spacing: 1px;
  transition-delay: 0.1s;
  transform: translateY(25px);
  opacity: 0;
  color: #282b2d;
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.team-info.team-overlay .social-icon {
  transform: translateY(25px);
  opacity: 0;
  color: #282b2d;
  transition: transform 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    opacity 0.45s cubic-bezier(0.19, 1, 0.22, 1),
    -webkit-transform 0.45s cubic-bezier(0.19, 1, 0.22, 1);
}
.team-wrapper .social-icon {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 15px;
  line-height: 1em;
}
.team-wrapper .social-icon li {
  display: inline-block;
  margin-right: 20px;
  font-size: 16px;
  line-height: 20px;
}
.team-wrapper .social-icon li:last-child {
  margin-right: 0;
}
.team-wrapper .social-icon li a {
  color: #282b2d;
}
.team-wrapper .social-icon li a:hover {
  color: #fff;
}
.team-wrapper:hover .team-overlay {
  opacity: 1;
  visibility: visible;
}
.team-wrapper:hover .team-overlay .team-title {
  transition-delay: 0s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
.team-wrapper:hover .team-overlay .team-position {
  transition-delay: 0.1s;
  opacity: 1;
  transform: translateY(0);
}
.team-wrapper:hover .team-overlay .social-icon {
  transition-delay: 0.2s;
  opacity: 1;
  -webkit-transform: translateY(0);
  transform: translateY(0);
}
@media screen and (max-width: 1199px) {
  .team-info.team-overlay .team-title {
    font-size: 22px;
  }
}
@media screen and (max-width: 991px) {
  .team-info.team-overlay .team-title {
    font-size: 20px;
  }
  .team-info.team-overlay .team-position {
    font-size: 12px;
  }
}
